
<div class="header-spacer">
  </div>


<div class="container" *ngIf="postData != undefined">
	<div class="row">
		<div class="col col-xl-12">
		</div>
    <div class="ui-block ui-block-deatils">


        <article class="hentry post">

          <div class="post__author author vcard inline-items">
            <img src="/assets/img/avatar2-sm.jpg" alt="author" *ngIf="postData.postedBy.type !='ngo'">

            <img src="/assets/img/avatar3-sm.jpg" alt="author" *ngIf="postData.postedBy.type =='ngo'">
            <div class="author-date">
              <a class="h6 post__author-name fn" href="javascript:void(0)">{{postData.postedBy.name}}</a>
              <div class="post__date">
                <time class="published" datetime="2004-07-24T18:18">
                  {{postData.createdAt | amDateFormat:'LL HH:mm'}}
                </time>
              </div>
            </div>


            <a href="javascript:void(0)"  [title]="postData.title" class="notification-friend notificatio-title "><b>{{postData.title | truncate : 150}} </b></a>

            <div class="more" *ngIf="postData.isPostActive && userId == postData.postedBy._id">
              <svg class="olymp-three-dots-icon">
                <use xlink:href="/assets/img/icons.svg#olymp-three-dots-icon"></use>
              </svg>
              <ul class="more-dropdown">
                <li>
                  <a href="javascript:void(0)" (click)="navigateEdit(postData._id)">Edit Post</a>
                </li>
                <li>
                  <a href="javascript:void(0)" (click)="deletePost(postData._id)">Delete Post</a>
                </li>
               
              </ul>
            </div>

          </div>

          <p class="description-post">{{postData.description}}
          </p>

          <div class="col-md-10 col-sm-12 mr-auto ml-auto">
              <div class="card page-carousel">
                  
                  <ngb-carousel *ngIf="postData.images.length>0">
                      <ng-template ngbSlide *ngFor="let entry of postData.images; let i = index">
                          <img src="{{entry.reference}}" alt="Random first slide">
                          <div class="carousel-caption">
                              <p>{{postData.category}}</p>
                          </div>
                      </ng-template>
                </ngb-carousel>
              </div>
          </div>
          <div class="post-additional-info inline-items">
            <div class="comments-shared">
              <a href="javascript:void(0)" class="post-add-icon inline-items">
                <svg class="olymp-speech-balloon-icon">
                  <use xlink:href="/assets/img/icons.svg#olymp-speech-balloon-icon"></use>
                </svg>
                <span>{{postData.commentCount}}</span>
              </a>
            </div>
          </div>
        </article>

        <!-- Comments -->

        <ul class="comments-list">
          <li class="comment-item" *ngFor="let comment of postData.comments">
            <div class="post__author author vcard inline-items">
            <img src="/assets/img/avatar2-sm.jpg" alt="author" *ngIf="comment.postedBy.type !='ngo'">

            <img src="/assets/img/avatar3-sm.jpg" alt="author" *ngIf="comment.postedBy.type =='ngo'">

              <div class="author-date">
                <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{comment.postedBy.name}}</a>
                <div class="post__date">
                  <time class="published" datetime="2004-07-24T18:18">
                      {{comment.postedBy.createdAt | amDateFormat:'LL HH:mm'}}
                  </time>
                </div>
              </div>

              <a href="javascript:void(0)" class="more">
                <svg class="olymp-three-dots-icon">
                  <use xlink:href="/assets/img/icons.svg#olymp-three-dots-icon"></use>
                </svg>
              </a>

            </div>

            <p>{{comment.description}}</p>

          </li>
        </ul>

        <!-- ... end Comments -->

        <a href="javascript:void(0)" class="more-comments">View more comments
          <span>+</span>
        </a>


        <!-- Comment Form  -->

        <form class="comment-form inline-items">

          <div class="post__author author vcard inline-items">
            <div class="form-group">
              <textarea class="form-control" name="commentsposted" [(ngModel)]='commentsposted' placeholder=""></textarea>
            </div>
          </div>
          <button class="btn btn-md-2 btn-primary" (click)="postcomment(postData._id)">Post Comment</button>
        </form>

        <!-- ... end Comment Form  -->
      </div>
	</div>
</div>
