.card-register {
    background-color: rgba(15, 22, 30, 0.5);
    &.login {
        h3.title {
            color: white;
            font-weight: bold;
            margin-bottom: 25px;
        }
        .register .btn{
            margin-top: 10px;
        }
    }
    
}
.landing-page {
    padding-top: 8%;
    .nav-tabs .nav-link {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e6ecf5;
        border-right: 1px solid #e6ecf5;
        padding: 25px;
        color: #c0c4d8;
        fill: #c0c4d8;
        background-color: #fafbfd;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        &.active {
            fill: #ff5e3a;
            background-color: #fff;
            border-color: #e6ecf5
        }
        @media (max-width:1023px)  {
            display: block;
            &::before {
                content: none;
            }
        }
    }
    
}
input.form-control.ng-invalid.ng-touched {
    border-color: red;
}
.btn:disabled, .btn[disabled], .btn.disabled{
    cursor: default;
    &:hover{
        background-color: #007bff;
        border-color: #007bff;
    }
}
