
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="assets/img/top-choose-photo2.jpg" alt="nature" class="backgroundImg">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">

							</div>

						</div>
					</div>
					<div class="top-header-author">
						<a href="02-ProfilePage.html" class="author-thumb">
							<img src="assets/img/avatar2-sm.png" class="profilePic" alt="author" *ngIf="userType != 'ngo'">
							<img src="assets/img/avatar3-sm.png" class="profilePic" alt="author" *ngIf="userType == 'ngo'">
						</a>
						<div class="author-content">
							<a href="02-ProfilePage.html" class="h4 author-name">{{userName}}</a>
							<div class="country">{{userType | uppercase}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Window-popup Update Header Photo -->





<!-- ... end Window-popup Choose from my Photo -->

<!-- Playlist Popup -->

<!-- ... end Playlist Popup -->
