
<div class="header-spacer">
</div>


<div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xs-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				<app-new-post [(userType)]="userData.type" [appData]='post'></app-new-post>
			</div>

		

			<!-- load more  -->
			<a id="load-more-button" href="javascript:void(0)" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/assets/img/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>

		</main>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<!-- ... end Left Sidebar -->

	</div>
</div>
